/Server/NodeJS/node_modules
/Server/NodeJS/package-lock.json
/Server/WebCrawler/env.json
/Server/WebCrawler/items
/Server/Database/node_modules
/Server/Database/package-lock.json
/Server/Database/env.json
.DS_Store
/Server/RESTAPI/node_modules
/Server/RESTAPI/package-lock.json
/Server/RESTAPI/env.json