.DS_Store
/Server/WebCrawler/env.json
/Server/jsonUploader/env.json
/Server/Database/node_modules
/Server/Database/package-lock.json
/Server/Database/env.json
/Server/DatabaseServer/node_modules
/Server/DatabaseServer/package-lock.json
/Server/DatabaseServer/env.json
/Server/FacadeServer/node_modules
/Server/FacadeServer/package-lock.json
/Server/FacadeServer/env.json
/Server/ConversionServer/node_modules
/Server/ConversionServer/package-lock.json
/Server/ConversionServer/env.json
/Server/mysql
/Server/WebServer/node_modules
/Server/WebServer/package-lock.json