{
    "dbserver_host": "INPUT_DATABASE_SERVER_HOST",
    "dbserver_port": "INPUT_DATABASE_SERVER_PORT",
    "convserver_host": "INPUT_CONVERSION_SERVER_HOST",
    "convserver_port": "INPUT_CONVERSION_SERVER_PORT"
}
