{
    "Step_1": "# Get Naver Shopping API and enter your id and secret ",
    "ID": "INPUT_ID_HERE",
    "SECRET": "INPUT_SECRET_HERE",
    "Step_2": "# Enter your working directory path ",
    "DIR": "INPUT_PATH_HERE",
    "Step_3": "# Please rename this file to 'env.json' "
}
